<!doctype html>
<body>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
		
    <title>Node Express Socket.io RequreJS Bootstrap</title>
<link rel="icon" href=" /favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<style type="text/css">
		
		body {
		  padding-top: 5rem;
		}
		.starter-template {
		  padding: 3rem 1.5rem;
		  text-align: center;
		}
		body > div > div > div > ul > li{
			font-weight: 700;
		}
		.col-sm-6 > .pull-right{
			text-align:right;
		}
		.col-sm-6 > .pull-left{
			text-align:left;
		}
	</style>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/vendor/bootstrap/dist/js/ie10-viewport-bug-workaround.js"></script>
  </head>
	<body>