<% include header %>
<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">

      <a class="navbar-brand" href="#">Project name</a>
      <ul class="nav nav-pills">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Ok Captain, your underway!</h1>
        <p class="lead">Don't forget, this uses Bootstrap 4 Alpha. This isn't for production!</p>
				<hr>
		    <div class="col-sm-6">
 				<ul class="list-unstyled pull-right">
 					<li class="lead">Front-end</li>
 					<li>RequireJS</li>
 					<li>BackboneJS</li>
 					<li>UnderscoreJS</li>
 					<li>jQuery</li>
 					<li>Twitter Bootstrap</li>
 					<li>Socket.io</li>
 				</ul>
		    </div>
		    <div class="col-sm-6">
					<ul class="list-unstyled pull-left">
						<li class="lead">Back-end</li>
						<li>NodeJS</li>
						<li>ExpressJS</li>
						<li>Socket.io</li>
						<li>Grunt</li>
						<li>EJS Templates</li>
					</ul>
		    </div>
      </div>
			<hr id="alert">
    </div><!-- /.container -->
<% include footer %>